@implements IDisposable

@inject NavigationManager NavigationManager
<div class="">
    <nav class="navbar navbar-expand-sm bg-body">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Service Station</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center container ">

                    <li class="nav-item justify-content-center align-content-center nav-link-size col ">
                        <NavLink class="nav-link active text-black" href="/" Match="NavLinkMatch.All">Home</NavLink>
                    </li>

                    <li class="nav-item justify-content-center align-content-center nav-link-size col">
                        <NavLink class="nav-link active text-black" href="counter">Counter</NavLink>
                    </li>

                    <li class="nav-item justify-content-center align-content-center nav-link-size col">
                        <NavLink class="nav-link active text-black" href="weather">Weather</NavLink>
                    </li>

                    <li class="nav-item justify-content-center align-content-center nav-link-size col">
                        <NavLink class="nav-link active text-black" href="auth">Auth Required</NavLink>
                    </li>

                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item justify-content-end align-content-center nav-link-size col">
                                <NavLink class="nav-link active text-black" href="Account/Manage">@context.User.Identity?.Name</NavLink>
                                </li>

                                <li class="nav-item justify-content-end align-content-center nav-link-size col">
                                    <form action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="nav-link text-black">Logout</button>
                                    </form>
                                </li>
                            </Authorized>
                            <NotAuthorized>
                                <li class="nav-item justify-content-end align-content-center nav-link-size col">
                                    <NavLink class="nav-link active text-black" href="Account/Register">Register</NavLink>
                                </li>

                                <li class="nav-item justify-content-end align-content-center nav-link-size col">
                                    <NavLink class="nav-link active text-black" href="Account/Login">Login</NavLink>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    @code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
   
}

